@model OCHPlanner3.Models.GarageSelectorViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@if (Model.disabled)
{
    <select id="@Model.UniqueId" class="form-control custom-select" asp-for="SelectedGarageId"
            asp-items="Model.Garages" disabled>
        <option value="">@Localizer["SelectOption"]</option>
    </select>
}
else
{
    <select id="@Model.UniqueId" class="form-control custom-select auto-complete" asp-for="SelectedGarageId"
            asp-items="Model.Garages">
        <option value="">@Localizer["SelectOption"]</option>
    </select>
}

<span asp-validation-for="SelectedGarageId" class="text-danger"></span>