<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OCHPlanner3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/lib/plugins/fontawesome-pro/css/all.min.css">

</head>
<body>
    @RenderBody()

    <!-- jQuery -->
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- jquery-validation -->
    <script src="~/lib/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/plugins/jquery-validation/additional-methods.js"></script>


    <!-- Sweet Alert -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@10.6.1/dist/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
