@model IEnumerable<ProgramViewModel>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="card">
    <div class="card-body">
        <h4 class="header-title"><i class="fad fa-list-alt mr-2"></i>@Localizer["Programs"]</h4>
        @if (Model == null || !Model.Any())
        {
            <span><i class="fad fa-exclamation-triangle text-danger mr-2"></i>@Localizer["NoProgramDefined"]</span>
        }

        <ul id="add-role-list-ul" style="list-style: none; padding: 10px;">
            @foreach (var program in Model.Where(p => p.Selected))
            {
                <li>
                    <div class="row pl-3 mb-1">
                        <div class="col-md-4 mt-1">
                            <i class="fad fa-check-square mr-2"></i>
                            <label style="font-weight:500;">@program.Name</label>
                        </div>
                        <div class="col-md-2">
                            <input name="Note_@program.Id" class="form-control" type="text" value="@program.Note" readonly>
                        </div>
                    </div>
                </li>

            }
        </ul>
    </div>
</div>
