@model StickerSimpleViewModel
@using OCHPlanner3.Services.Interfaces
@using OCHPlanner3.Helper

@{
    ViewData["Title"] = "Autocollant Simple";
}

@inject IUserService  userService

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

<style>
    .form-group {
        margin-bottom: 0.5rem !important;
    }
</style>

<div class="main-content-inner">
    <div class="container">

        <div class="row">
            <!-- trading history area start -->
            <div class="col-lg-8 mt-sm-30 mt-xs-30">
                <div class="card">
                    <div class="card-body" style="min-height:580px;">
                        <div class="form-group row">
                            <label for="unit" class="control-label col-md-4">Sélectionnez unitée</label>
                            <div class="col-md-8">
                                <label class="mr-4"><input asp-for="SelectedUnit" value="KM" type="radio" class="mr-1" checked />Kilomètres</label>
                                <label class="mr-4"><input asp-for="SelectedUnit" value="MI" type="radio" class="mr-1" />Miles</label>
                                <label><input asp-for="SelectedUnit" value="HM" type="radio" class="mr-1" />Heures moteur</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="comment" class="control-label col-md-4 mt-2">Commentaire</label>
                            <div class="col-md-8">
                                <input asp-for="Comment" name="comment" class="form-control" maxlength="20" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="oil" class="control-label col-md-4 mt-2">Huile utilisée</label>
                            <div class="col-md-8">
                                <select asp-for="SelectedOil" name="oillist" asp-items="Model.OilList" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label id="label-unit" for="unitValue" class="control-label col-md-4 mt-2">Kilomètre</label>
                                <div class="col-md-8">
                                    <input asp-for="UnitValue" name="unitvalue" class="form-control" />
                                </div>
                            </div>*@
                        <div id="Choice1">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">Intervale prochain service</h6>
                                    <div class="col-md-6"><input value="Choice1" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" checked="" id="PrintChoice1" name="PrintChoices"></div>
                                </div>

                                <div class="col-md-12 row pt-2">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="SelectedMonth" class="control-label col-md-4 mt-2">Mois</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedPeriod" asp-items="Model.PeriodList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="SelectedMileage" class="control-label col-md-4 mt-2">Intervale</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedMileage" asp-items="Model.MileageList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Choice2">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">Date du jour</h6>
                                    <div class="col-md-6"><input value="Choice2" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice2" name="PrintChoices"></div>
                                </div>
                                <div class="col-md-12 row pt-2">
                                    <div class="col-md-6 mt-2">
                                        Imprimer la date du jour
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="SelectedPeriod" class="control-label col-md-4 mt-2">Ajouter</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedMileage" name="Choice2SelectedMileage" asp-items="Model.MileageList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Choice3">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">Données fixe</h6>
                                    <div class="col-md-6"><input value="Choice3" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice3" name="PrintChoices"></div>
                                </div>
                                <div class="col-md-12 row pt-2">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedMonthFixe" class="control-label col-md-4 mt-2">Mois</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedMonthFixe" name="Choice3SelectedMonth" asp-items="Model.MonthList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedYearFixe" class="control-label col-md-4 mt-2">Année</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedYearFixe" name="Choice3SelectedYear" asp-items="Model.YearList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedMileageFixe" class="control-label col-md-4 mt-2">Intervale</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedMileage" name="Choice3SelectedMileage" asp-items="Model.MileageList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-primary">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- trading history area end -->
            <!-- Preview area end -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body" style="min-height:580px;">

                        <div class="row justify-content-center">
                            <div class="form-group col col-md-8 text-center">
                                <label id="label-unit" for="unitValue" class="control-label mt-2">Kilomètre actuel</label>
                                <input asp-for="UnitValue" name="unitvalue" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <div style="border-bottom: 2px solid #f3f3f3;">
                                <div class="text-center"><img src="~/Images/logo.jpg" style="width:140px;" /></div>
                            </div>
                            <div class="mt-2">
                                <form id="loginform" class="form-horizontal" role="form">
                                    <input id="garage-name-print" type="hidden" value="@currentUser.GarageSetting.Name" />
                                    <div class="row col-md-12 justify-content-center">
                                        <h6>@currentUser.GarageSetting.Name</h6>
                                    </div>
                                    <input id="garage-phone-print" type="hidden" value="@currentUser.GarageSetting.Phone.ToPhone()" />
                                    <div class="row col-md-12 justify-content-center">
                                        <h6>@currentUser.GarageSetting.Phone.ToPhone()</h6>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input autocomplete="off" class="form-control input" id="comment-preview" maxlength="20" name="comment-preview" placeholder="Commentaire" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="selectedOil" class="control-label">Huile</label>
                                        <select asp-for="SelectedOil" name="oillist-preview" asp-items="Model.OilList" class="form-control">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="DateBox" id="label-datebox-preview" class="control-label">Prochaine date ou avant le</label>
                                        <input autocomplete="off" class="form-control input" id="datebox-preview" maxlength="10" name="datebox-preview" placeholder="Date" type="text" value="">

                                    </div>
                                    <div class="form-group">
                                        <label for="UnitValue" id="label-unit-preview" class="control-label">Prochain kilomètre</label>
                                        <input autocomplete="off" class="form-control input" id="unitvalue-preview" maxlength="10" name="unitvalue-preview" placeholder="0" type="text" value="">
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <button class="btn btn-primary w-100"><i class="fad fa-redo-alt mr-2"></i>Recommencer</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary w-100" id="btnPrint"><i class="fad fa-print mr-2"></i>Imprimer</button>
                            </div>
                        </div>

                        @*</div>

                            </div>*@

                        @*}*@
                    </div>
                </div>
            </div>
            <!-- Preview area end -->
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/simple.js"></script>
}
