@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Mot de passe oublié";
}

<body class="hold-transition login-page">
    <div class="login-box box-shadow">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo text-center">
                    <img src="~/images/logo.jpg" style="width:220px;" />
                </div>
                <!-- /.login-logo -->
                <p class="login-box-msg">Vous avez oublié votre mot de passe? Vous pouvez le réinitialiser ici.</p>

                <form id="forgot-form" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Demandez un nouveau mot de passe</button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <a href="/Identity/Account/Login" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
                        </div>
                        <!-- /.col -->
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>

    </div>

    @section Scripts {
        <script src="~/js/forgot-password.js"></script>
    }
</body>