@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="hold-transition login-page">
    <div class="login-box box-shadow">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo text-center">
                    <img src="~/images/logo.jpg" style="width:220px;" />
                </div>
                <!-- /.login-logo -->
                <p class="login-box-msg">Connectez-vous pour démarrer une session</p>

                <form id="login-form" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Courriel">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="icheck-primary">
                                <input asp-for="Input.RememberMe" type="checkbox">
                                <label for="remember" class="ml-2">
                                    Se souvenir de moi
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    @Html.AntiForgeryToken()
                </form>

                <p class="mb-1">
                    <a asp-page="./ForgotPassword">Mot de passe oublié?</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>

    </div>

    @section Scripts {
        <script src="~/js/login.js"></script>
    }
</body>
