@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Réinitialiser votre mot de passe";
}


<body class="hold-transition login-page">
    <div class="login-box box-shadow">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo text-center">
                    <img src="~/images/logo.jpg" style="width:220px;" />
                </div>
                <!-- /.login-logo -->
                <p class="login-box-msg">Veuillez saisir un nouveau mot de passe pour votre compte</p>

                <form id="reset-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Courriel">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmer le mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
                    @Html.AntiForgeryToken()
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>

    </div>

    @section Scripts {
        <script src="~/js/reset-password.js"></script>
    }
</body>


@*<div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
