@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de changement de mot de passe";
}

<body class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo text-center">
                    <img src="~/images/logo.jpg" style="width:220px;" />
                </div>
                <p class="login-box-msg">@Model.Input.Translation.Message</p>
                <div class="row">
                    <div class="col-12">
                        @if (HttpContext.Request.Query.ContainsKey("lang") && HttpContext.Request.Query["lang"] == "en")
                        {
                            <a href="./Login?lang=en" class="btn btn-secondary btn-block">@Model.Input.Translation.Cancel</a>
                        }
                        else
                        {
                            <a href="./Login" class="btn btn-secondary btn-block">@Model.Input.Translation.Cancel</a>
                        }
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>