@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de changement de mot de passe";
}

<body class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo" style="width:220px;">
                    <img src="~/images/logo.jpg" />
                </div>
                <p class="login-box-msg">Votre mot de passe à été mis à jour avec succès!</p>
                <div class="row">
                    <div class="col-12">
                        <a href="./Login" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>