/*   LAYOUT   */

.notification-area .dropdown-menu, .user-profile .dropdown-menu {
    background: #e9e9e9;
    left: 100px !important;
    right: 5px !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #e9e9e9 !important;
}

.hidden {
    display: none;
}

span.field-validation-error {
    color: red;
}

.header-title {
    text-transform: none !important;
}


/*   SIMPLE  */
#label-unit {
    font-size: 20px;
    font-weight: 500;
}

#UnitValue {
    border: 2px solid #808080;
}

/*  USER MANAGEMENT  */
.select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

    .select2-container--bootstrap .select2-selection--single {
        height: 100%;
        line-height: inherit;
        padding: 0.5rem 1rem;
    }
