/*   LAYOUT   */

.horizontal-menu .submenu {
    background: #f0f0f0 !important;
    border: 1px solid #e9e9e9
}

#btn-order {
    color: #007bff;
}

    #btn-order:hover {
        color: #fff;
    }

.vertical-align {
    vertical-align: middle !important;
}

.notification-area .dropdown-menu, .user-profile .dropdown-menu {
    background: #e9e9e9;
    left: 0px !important;
    right: 0px !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #e9e9e9 !important;
}

.hidden {
    display: none !important;
}

span.field-validation-error {
    color: red;
}

.header-title {
    text-transform: none !important;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

/*   SIMPLE  */
#label-unit {
    font-size: 20px;
    font-weight: 500;
}

#UnitValue {
    border: 2px solid #808080;
}

/*  USER MANAGEMENT  */
.select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

    .select2-container--bootstrap .select2-selection--single {
        height: 100%;
        line-height: inherit;
        padding: 0.5rem 1rem;
    }

/* CARD COUNTER */

.card-counter {
    background-color: #5bc0de;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

    .card-counter h4 {
        color: #fff;
    }

    .card-counter input {
        width: 65px;
        background-color: #5bc0de;
        border: none;
        color: #fff;
        text-align: center;
    }

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px !important;
}

.dropdown-menu.usetwentyfour {
    width: 260px !important;
}
