@model MaintenancePlanManagementViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<table id="MaintenancePlanListTable" class="table table-striped dataTable" data-processing="true">
    <thead>
        <tr>
            <th data-data="id">Id</th>
            <th data-data="name" style="width:50%">@Localizer["Name"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MaintenancePlanList)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
        }
    </tbody>
</table>